{% extends 'website/master.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <img src="{% static 'images/career1.jpg' %}" alt="..."  height="500px">
    </div>
  </div>
    <div class="container-fluid carrer-bgclr ">
    <div class="row  row-career  ">
        <div class="col-4" >
            <div class="card  " style="width: 25rem;  height:26rem; ">
                <div class="card-body body-bgclr">
                  
                  <h5 class="card-title  career-head">IT</h5>
                  <ul>
                    <li> IT Professional, is a technical person who maintains, monitors and implements IT systems.</li>
                    <li>Their common duties include network analysis, security and information assurance, IT audits, web and database administration.</li>
                    <li>Information technology professionals study, design, develop, implement, support, and manage computer-based information systems, including both software applications and computer hardware.</li>
                     </ul>
                   </div>
              </div>
        </div>
    
        <div class="col-4">
            <div class="card" style="width: 25rem;  height:26rem;">
                <div class="card-body body-bgclr">
                  <h5 class="card-title">BPO</h5>
                  <ul>
                    
                    <li>As a Business Process Associate, you will have to handle, monitor, and manage numerous tasks simultaneously in the back office including helping customers or clients with billing/purchasing, creating new customer accounts,</li>
                    <li> The process of contracting standard business functions to be handled by a party outside of the company.</li>
                    <li>generally is the process of subcontracting or outsourcing some business operations to a third party. It mainly consists of customer-related services like marketing and technical help. </li>
                     </ul>
                   </div>
              </div>
        </div>
    
        <div class="col-4">
            <div class="card" style="width: 25rem; height:26rem;">
                <div class="card-body  body-bgclr">
                  <h5 class="card-title">MARKETING </h5>
                  <ul>
                    <li>Marketing is the process of identifying customers and "creating, communicating, delivering, and exchanging" goods and services for the satisfaction and retention of those customers. It is one of the primary components of business management and commerce.</li>
                    <li>Marketing is another field of study in business concerned with promoting products to lure customers into buying them.</li>
                    <li>Advertising and marketing industries typically focus on promoting products to audiences through paid and organic efforts.</li>
                     </ul>
                   </div>
              </div>
        </div>
      </div>
      <br>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 25rem; height:26rem;">
                <div class="card-body  body-bgclr">
                  <h5 class="card-title">ACCOUNTANT</h5>
                  <ul>
                    <li>An accountant is a practitioner of accounting or accountancy. Accountants who have demonstrated competency through their professional associations' certification exams are certified to use titles such as Chartered Accountant, Chartered Certified Accountant or Certified Public Accountant, or Registered Public Accountant.</li>
                    <li>An accountant may either be hired for a firm that requires accounting services on a continuous basis, or may belong to an accounting firm that provides accounting consulting services to other firms. </li>
                    <li> An accountant handles the keeping and assessing of financial records.</li>
                     </ul>
                   </div>
              </div>
        </div>
    
        <div class="col-4">
            <div class="card" style="width: 25rem; height:26rem;">
                <div class="card-body  body-bgclr">
                  <h5 class="card-title">HUMAN RESOURCE</h5>
                  <ul>
                    <li>Human Resource activities fall under 7 core functions: Recruitment and Selection, Training and Development, Performance Management, Employee Relations, Employment Law and Compliance, Compensation and Benefits and Administration, Payroll & HR Systems.</li>
                    <li>Human Resource Management is a way of managing, maintaining, training and developing the key resource of any organization, its people.</li>
                    <li>HR professionals play a crucial role in ensuring compliance with labor laws, employment regulations, and ethical standards.</li>
                     </ul>
                   </div>
              </div>
        </div>
    
        <div class="col-4">
            <div class="card" style="width: 25rem; height:26rem;">
                <div class="card-body  body-bgclr">
                  <h5 class="card-title">HOSPITALITY</h5>
                  <ul>
                    <li>A Hospitality Manager is responsible for various duties, including hiring qualified personnel, organizing and coordinating operations, supervising and evaluating staff, handling customer complaints, enforcing regulations and quality standards, managing budgets and expenses, and preparing reports for senior management.</li>
                    <li>A hospitality industry worker may manage staff, enforce the company's quality charter, or provide services for guests or participants.</li>
                    <li>The goal of the hospitality industry is to provide customers with an enjoyable experience.</li>
                     </ul>
                   </div>
              </div>
        </div>
      </div>
      <br><br>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <div class="card-body  body-bgclr">
                  <h5 class="card-title">CONSTRUCTION</h5>
                  <ul>
                    <li>The construction industry comprises employees who build certain houses, buildings or other structures for residents, businesses or community members.</li>
                    <li> A person who works in the construction industry, building and repairing buildings, roads, and other infrastructure.</li>
                    <li>In its most widely used context, construction covers the processes involved in delivering buildings, infrastructure, industrial facilities, and associated activities through to the end of their life</li>
                     </ul>
                   </div>
              </div>
        </div>

        <div class="col-4">
          <div class="card" style="width: 25rem;">
              <div class="card-body  body-bgclr">
                <h5 class="card-title">HEALTH CARE</h5>
                <ul>
                  <li>Healthcare, is the improvement of health via the prevention, diagnosis, treatment, amelioration or cure of disease, illness, injury, and other physical and mental impairments in people.</li>
                  <li>Some companies hire health and wellness experts, such as nutritionists, therapists or other doctors, to promote good health for their employees.</li>
                  <li>The private health sector is the individuals and organizations that are neither owned nor directly controlled by governments and are involved in provision of health services.</li>
                   </ul>
                 </div>
            </div>
      </div>

      <div class="col-4">
        <div class="card" style="width: 25rem;">
            <div class="card-body  body-bgclr">
              <h5 class="card-title">OTHERS</h5>
              <ul>
                <li> Our services are distinguished by meticulous candidate screening, access to an extensive talent pool, personalized recruitment strategies, and deep industry expertise</li>
                
                <li>Whether clients require short-term staffing solutions or strategic workforce planning, our team is dedicated to providing exceptional service and delivering value at every stage of the recruitment process.</li>
                 </ul>
               </div>
          </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    </div>

</div>








{% endblock %}
