{% extends 'website/master.html' %}
{% load static %}

<style>

</style>

{% block content %}

    
      <div class="container-fluid">
        <div class="row">
        <img src="{% static 'images/mainimage.jpg' %}" alt="" height="600px">
      </div>
      </div>
      
    <div class="container">
           <div class="row" >
           
            <div class="col-6">
            <img src="{% static 'images/webimage13.jpg' %}"  alt="..."  >
            
            </div>
          
        <div class="col-6" >
       
            <h5 style="color: rgb(223, 169, 33);padding-top: 100px; ">ABOUT US</h5>
            <h2 style="font-weight:bolder;">Welcome to HAADAIN NAS Pvt Ltd (HDN)</h2>
            <P style="font-size:medium;">At Haadain Nas Pvt Ltd (HDN), we are an emerging powerhouse in the  world of Manpower Recruitment. Our commitment to providing End-to-End Recruitment Solutions is driven by our unwavering dedication  to meet the diverse staffing needs of businesses.
            <br><br> HDN is more than just a company; it's a dynamic team of vibrant young  professionals brimming with enthusiasm and guided by seasoned  experts who possess deep industry knowledge. We understand that  every business is unique, and that's why we approach each  recruitment challenge with a tailored solution, aligning our strategies with your specific requirements.</P>
        </div>
        </div>
      </div>
    

      <div class="container-fluid">
   
        <div class="row" style="background-color:#D4E6F1 ; height: 650px; ">
                  <h1 style="color:#0A0A33 ;text-align: center;">INTRODUCTION</h1>

                <div class="col-3">
                  <div class="card text-bg-light mb-3" style="max-width: 20rem; height: 22rem;">
                    <div class="card-body body">
                      <div class="services-icon">
                    <img src="{% static 'images/intimg1.jpg' %}"  alt="..."   >
                  </div><br>
                      <h5 class="card-title ">Our Team</h5><br>
                      <p class="paragraph">HAADAAINNAS PVT LTD ( H D N ) is an emerging <br> Manpower Recruitment company with End-to- End <br> Recruitment Solutions to meet diversities <br> in business requirements.</p>
                    </div>
                  </div>
                </div>

                <div class="col-3">
                  <div class="card text-bg-light mb-3" style="max-width: 20rem; height: 22rem;">
                    <div class="card-body">
                      <div class="services-icon">
                        <img src="{% static 'images/intimg2.jpg' %}"  alt="..." >
                        </div><br>
                      <h5 class="card-title ">Our Approach</h5><br>
                      <p >Our Approach
                        H D N is a team of vibrant 
                        youngsters full of zest <br> and guided by industry driven experts <br> to meet customer requirements.</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card text-bg-light mb-3" style="max-width: 20rem; height: 22rem;">
                    <div class="card-body">
                    <div class="services-icon">
                    <img src="{% static 'images/intimg3.jpg' %}"  alt="...">
                  </div><br>
                   <h5 class="card-title">Our Success <br> Story</h5><br>
                      <p >H D N team relies on its <br> qualitative approach <br> and industries best practices.</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card text-bg-light mb-3" style="max-width: 20rem; height: 22rem;">
                    
                    <div class="card-body">
                      <div class="services-icon">
                        <img src="{% static 'images/intimg4.jpg' %}"  alt="...">
                        </div><br>
                      <h5 class="card-title">Our Commitment</h5><br>
                      <p >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              

        </div>

      </div>
   

       


      





  {% endblock %}  

