{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/client.css' %}">
    <link rel="stylesheet" href="{% static 'css/carrier.css' %}">
    


  <style>
    i{
      color: goldenrod;
      margin-left: 0px;
    }
   a, .nav-link {
      font-size:18px;
      font-weight: 200px;
    }
    .navbar-text{
    letter-spacing: 20px;
}
.infohead{
    color: goldenrod;
}
  </style>


</head>
<body>
   <div class="container-fluid ">
    <div class="row">
        
         <div class="col-6">
          <nav >
            <div >
              <a class="navbar-brand" href="#">
                <img src="{% static 'images/logonew1.jpg' %}" alt="Logo" >
                
              </a>
            </div>
          </nav>

        </div>

        <div class="col-6">
          <nav class="navbar navbar-expand-lg ">
            
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'websiteapp:main' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'websiteapp:about' %}">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'websiteapp:service' %}">services</a>
                  </li>
                 
                  <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" href="{% url 'websiteapp:careers' %}">Careers</a> 
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link active"  aria-current="page" href="{% url 'websiteapp:register' %}">Register Now</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link active"  aria-current="page" href="{% url 'websiteapp:client' %}">Client</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active"  onclick="scrollToContact()" aria-current="page" href="{% url 'websiteapp:contact' %}">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>


    </div>
   </div> 

 {% block content %}
 {% endblock %}

   






  <div class="container-fluid  bgm"  style="background-color:#0A0A33 ; padding:30px;">
    <div class="row" >
        <div class="col-3">
          <div>
            <div >
              <div class="card-body">
                <div class="services-icon">
                  <img src="{% static 'images/logolast.jpg' %}" alt="Services" height="120px" width="90px">
                
                </div>
                
                <p class="card-text">At Haadain Nas Pvt Ltd (HDN), we  are an emerging powerhouse in <br> the world of Manpower <br> Recruitment.</p>
              
              </div>
            </div>
          </div>
            
        </div>
        <div class="col-3">
          <div >
            <div >
              <h5 class="infohead">ADDRESS</h5>
              <p class="card-text"> <i class="fa-sharp fa-solid fa-location-dot" ></i> HO: 27/1 1st floor <br> Puliyar Koil Street <br> Ashok Nagar <br> Bengalure</p>
              <p class="card-text"> <i class="fa-sharp fa-solid fa-location-dot" ></i> A Block, BHIVE <br> Workspace - No.112, <br> AKR Tech Park, <br>
                "A" and, 7th Mile Hosur Rd, <br> Krishna Reddy Industrial Area, <br> Bengaluru, Karnataka 560068</p>
              
             
            </div>
          </div>
    
        </div>
        
        <div class="col-3">
            <div >
                <h5 class="infohead">QUICK LINKS</h5>
                <a href="{% url 'websiteapp:main' %}" class="list-group-item list-group-item-action">Home</a>
                <a href="{% url 'websiteapp:about' %}" class="list-group-item list-group-item-action">About Us</a>
                <a href="{% url 'websiteapp:service' %}" class="list-group-item list-group-item-action">Services</a>
                <a href="{% url 'websiteapp:contact' %}" class="list-group-item list-group-item-action">Contact</a>
                <a href="{% url 'websiteapp:register' %}" class="list-group-item list-group-item-action">Register</a>
                
              </div>
    
        </div>
        <div class="col-3">
            <div >
                <h5 class="infohead">CONTACT INFO</h5>
                <a href="#" class="list-group-item list-group-item-action"> <i class="fa-solid fa-phone-volume"></i> +916360071932</a>
                <a href="#" class="list-group-item list-group-item-action"> <i class="fa-solid fa-phone-volume"></i> +917975383740</a>
                <a href="#" class="list-group-item list-group-item-action"> <i class="fa-sharp fa-solid fa-envelope"></i> info@haadaainnas.com</a>
                
              </div>
    
        </div>
      
        

    </div>
</div>
   
<div class="container-fluid">
  <div class="row" style="background-color:#90A9B7 ;">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-envelope"></i> info@haadaainnas.com</a>
       
       
          <span class="navbar-text">
           <a href=""><i class="fa-brands fa-facebook"></i></a> 
           <a href=""> <i class="fa-brands fa-square-instagram"></i></a>
          </span>
        </div>
      </div>
    </nav>
  </div>
</div>


<div id="Contact">
  <!-- Contact section content -->
  
</div>

<script>
  function scrollToContact() {
      var contactSection = document.getElementById('Contact');
      if (contactSection) {
          contactSection.scrollIntoView({ behavior: 'smooth' });
      }
  }
</script>





   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>