{% extends 'website/master.html' %}
{% load static %}

{% block content %}

<style>
  .service-img{
    background-color:#0A0A33; 
    
}

 </style>

 


 
  
    



<div class="container-fluid service-img"  >

  <div class="row  ">
   
      
     <div class="col-6">
  
      <img  src="{% static 'images/profit.jpg' %}"  class="rounded-end-circle" alt="...">
     </div>
      <div class="col-6">
        <h5 class="topic-head">OUR SERVICES</h5>
        <h1 class="topic">Comprehensive Talent <br>
            Solutions for Your Success</h1>

      </div>
     </div>
     </div>

<div class="container-fluid  main">

   

    <div class="row">
      
      <div class="col-4 ">
        <div class="  service-crd">
          <div class="card-body">
            <div class="services-icon">
              <img src="{% static 'images/itimages.jpg' %}" alt="Services" height="220px" width="300px">
            
            </div>
            <h4 class="card-title  serve-head">BUISNESS DEVELOPMENT</h4>
            
              <li>Our business development recruitment team provides professional staffing services for a range of product commercialisation and business development roles.Identify and target potential clients in need of staffing services.</li>
              <li> Develop and execute a strategic business development plan to achieve sales targets and revenue goals.</li>
              <li>Conduct market research to identify industry trends, competitors, and emerging opportunities in the staffing industry.</li>
              <li>Build and maintain strong relationships with clients, understanding their staffing requirements, and providing tailored staffing solutions.</li>
            
            
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class=" service-crd">
          <div class="card-body">
            <div class="services-icon">
              <img src="{% static 'images/manpower.jpg' %}" alt="Services" height="220px" width="300px">
            
            </div>
            <h4 class="card-title  serve-head">MANPOWER RECRUITMENT</h4>
            <li>Manpower recruitment services who can find the right candidate for the right job in terms of fitment. </li>
            <li>This helps our clients to reduce the performance turnaround time of the candidate.</li>
            <li>It also helps organisations to spend lesser time in waiting for the candidate to start producing result.</li>
            <li>Some of the most important reasons for the growth of recruitment services are an increase in a number of organisations and businesses need for quality human talent and companies willing to pay a little extra to recruitment companies to identify suitable human resources.</li>
            
            
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class=" service-crd">
          <div class="card-body">
            <div class="services-icon">
              <img src="{% static 'images/contract.jpg' %}" alt="Services" height="220px" width="300px">
            
            </div>
            <h4 class="card-title  serve-head">CONTRACT STAFFING</h4>
            <li>We offer IT Contract consulting services that keep pace with  your ever- changing needs.</li>
            <li>This provides you the needed  flexibility in terms of expertise, experience and duration  required - all without the administrative hassles most  employers face.</li>
            <li>To ensure uninterrupted performance, a steady flow of  professionals and ramping up in case of exigencies also form a  part and parcel of our contract consulting services.</li>
          </div>
        </div>
      </div>

    </div>
    
      
     <br>
   

   
    <div class="row">
      
     
      <div class="col-4 ">
        <div class=" service-crd">
          <div class="card-body">
            <div class="services-icon">
              <img src="{% static 'images/permanent.jpg' %}" alt="Services" height="220px" width="300px">
            
            </div>
            <h4 class="card-title  serve-head">PERMANENT STAFFING</h4>
            <li>Years of experience and knowledge combined with a reputation  that we are proud of, we time and again deliver the excellence  that would exceed your expectations.</li>
            <li>Using our highly sophisticated scrutiny  processes, our staff can respond promptly and perfectly to a  company's permanent staffing needs.</li>
            <li>Permanent services are a type of employment arrangement where an employee is hired by an organization for an indefinite period of time, subject to the terms and conditions of their employment contract</li>
            
          </div>
        </div>
      </div>
    
    <br>
      
        
    <div class="col-4">
    <div class="  service-crd">
      <div class="card-body  ">
        <div class="services-icon">
          <img src="{% static 'images/payroll.jpg' %}" alt="Services" height="220px" width="300px">
        
        </div>
        <h5 class="card-title serve-head">PAYROLL MANAGEMENT</h5>
        <li>It involves the administration of financial recors related to employees salaries,wages,bonuses and deduction within an organizations.</li>
        <li>It includes calculating and procesing payments,withholding taxes,ensuring compliance with applicable labor laws and regulations.</li>
        <li>Effective payroll management is crucial for maintaining accurate financial records,employee satisfaction,and compliance with legal requirements. </li>
       
      </div>
    </div>
  </div>

  <div class="col-4 ">
    <div class="  service-crd">
      <div class="card-body">
        <div class="services-icon">
          <img src="{% static 'images/placement.jpg' %}" alt="Services" height="220px" width="300px">
        
        </div>
        <h4 class="card-title  serve-head">PLACEMENT DRIVES</h4>
        <li>Placement drives are organized events or initiatives where companies actively recruit and hire candidates for various job positions.</li>
        <li>These oftens are often conducted by educational institutions,recruitment agencies,or companies themselves to connect with potential candidates in a centalized and effcient manner.</li>
        <li>During placement drives,candidates may undergo interviews,assessments,and interactions with recruiters to securejob offers.</li>
          
        
      </div>
    </div>
  </div>

</div>
<div class="col-4 ">
  <div class="  service-crd">
    <div class="card-body">
      <div class="services-icon">
        <img src="{% static 'images/software.jpg' %}" alt="Services" height="220px" width="300px">
      
      </div>
      <h4 class="card-title  serve-head">SOFTWARE DEVELOPMENT</h4>
      <li>The systematic process of designing,programming,testing and maintaining computer software to meet specific user requirements .</li>
      <li>It encompasses various methodologies,such as agile or waterfall,and involves the collabration of multidisciplinary teams,including developers,designers and quality assurance professionals.</li>
      <li>The goal of software development is to create efficient ,reliable,and scalabe applications or system that address the needs of end users or businesses..</li>
        
      
    </div>
  </div>
</div>


   
    </div>
  



{% endblock %}