 .carrer-bgclr{
    background-color:#EAECEE ;
    background-image: linear-gradient(#EAECEE,#AED6F1);
    
}
.row-career{
    padding-top: 50px;
}
.body-bgclr{
    background-color:#F4F6F6  ;
}
li{
    color:#0A0A33 ;
}
.career-head{
    font-weight: bolder;
    
   
    

}
