{% extends 'company/index.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 logborder">
                <form action="">
                    <label class="logemail" for="">Email:</label>
                    <input  class="loginput" type="email" name="" id="">
                    <br><br>
                    <label for="">Password:</label>
                    <input  class="logput" type="password" name="" id="">
                    <br><br>
                    <input  class="logsub" type="submit" value="login">
                </form>
            </div>
        </div>
   
{% endblock %}   
